body{
    background-color: white;
}

h1{
    color: blue;
    font-size: 24;
    position: absolute; top: 2px; left: 500px;
}

h4{
    color: red;
    font-size: 20;
}

a:link{
    color: blue;
}

a:visited{
    color: green;
}

p{
    font-size: 16x;
    color: bluviolet;
}

